
@font-face {
    font-family: 'cmu_serifroman';
    src: url('../assets/cm/cmunrm-webfont.eot');
    src: url('../assets/cm/cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/cm/cmunrm-webfont.woff') format('woff'),
         url('../assets/cm/cmunrm-webfont.ttf') format('truetype'),
         url('../assets/cm/cmunrm-webfont.svg#cmu_serifroman') format('svg');
    font-weight: normal;
    font-style: normal;

}